
<div *ngIf="match" class="container">

  <h2>{{match.id}}-{{match.stadiumName | uppercase}} Details</h2>

  <form (ngSubmit)="saveChanges()"  #editMatchForm="ngForm">
    <div><span>id: </span>{{match.id}}</div>

    <div class="form-group">
      <label for="clubId1">ClubID1:</label>
      <input type="number" class="form-control" id="clubId1"
             required
             [(ngModel)]="match.clubID1" name="clubId1"
             #clubId1="ngModel">
      <div [hidden]="clubId1.valid || clubId1.pristine"
           class="alert alert-danger">
        ClubID1 is required!
      </div>
    </div>

    <div class="form-group">
      <label for="clubId2">ClubID2:</label>
      <input type="number" class="form-control" id="clubId2"
             required
             [(ngModel)]="match.clubID2" name="clubId2"
             #clubId2="ngModel">
      <div [hidden]="clubId2.valid || clubId2.pristine"
           class="alert alert-danger">
        ClubID2 is required!
      </div>
    </div>

    <div class="form-group">
      <label for="date">Date:</label>
      <input type="text" class="form-control" id="date"
             required
             [(ngModel)]="match.date" name="date"
             #date="ngModel">
      <div [hidden]="date.valid || date.pristine"
           class="alert alert-danger">
        Date is required!
      </div>
    </div>

    <div class="form-group">
      <label for="stadiumName">Stadium Name:</label>
      <input type="text" class="form-control" id="stadiumName"
             required
             [(ngModel)]="match.stadiumName" name="stadiumName"
             #stadiumName="ngModel">
      <div [hidden]="stadiumName.valid || stadiumName.pristine"
           class="alert alert-danger">
        Stadium Name is required!
      </div>
    </div>

    <div class="form-group">
      <label for="competitionId">CompetitionID:</label>
      <input type="number" class="form-control" id="competitionId"
             required
             [(ngModel)]="match.competitionID" name="competitionId"
             #competitionId="ngModel">
      <div [hidden]="competitionId.valid || competitionId.pristine"
           class="alert alert-danger">
        CompetitionID is required!
      </div>
    </div>

    <div class="form-group">
      <label for="attendance">Attendance:</label>
      <input type="number" class="form-control" id="attendance"
             required
             [(ngModel)]="match.attendance" name="attendance"
             #attendance="ngModel">
      <div [hidden]="attendance.valid || attendance.pristine"
           class="alert alert-danger">
        Attendance is required!
      </div>
    </div>

    <button (click)="saveChanges()"  type="submit" class="btn btn-success"
            [disabled]="!editMatchForm.form.valid">Update</button>
    <button (click)="deleteMatch()" type="submit" class="btn btn-success">Delete</button>
    <button (click)="goBack()" type="submit" class="btn btn-success">Back</button>
  </form>
</div>

<!--
<div class="container">
  <div [hidden]="submitted">
    <h2>New Match</h2>

    <form (ngSubmit)="onSubmit()"  #newMatchForm="ngForm">

      <div class="form-group">
        <label for="clubId1">ClubID1:</label>
        <input type="number" class="form-control" id="clubId1"
               required
               [(ngModel)]="modelMatch.clubID1" name="clubId1"
               #clubId1="ngModel">
        <div [hidden]="clubId1.valid || clubId1.pristine"
             class="alert alert-danger">
          ClubID1 is required!
        </div>
      </div>

      <div class="form-group">
        <label for="clubId2">ClubID2:</label>
        <input type="number" class="form-control" id="clubId2"
               required
               [(ngModel)]="modelMatch.clubID2" name="clubId2"
               #clubId2="ngModel">
        <div [hidden]="clubId2.valid || clubId2.pristine"
             class="alert alert-danger">
          ClubID2 is required!
        </div>
      </div>

      <div class="form-group">
        <label for="date">Date:</label>
        <input type="text" class="form-control" id="date"
               required
               [(ngModel)]="modelMatch.date" name="date"
               #date="ngModel">
        <div [hidden]="date.valid || date.pristine"
             class="alert alert-danger">
          Date is required!
        </div>
      </div>

      <div class="form-group">
        <label for="stadiumName">Stadium Name:</label>
        <input type="text" class="form-control" id="stadiumName"
               required
               [(ngModel)]="modelMatch.stadiumName" name="stadiumName"
               #stadiumName="ngModel">
        <div [hidden]="stadiumName.valid || stadiumName.pristine"
             class="alert alert-danger">
          Stadium Name is required!
        </div>
      </div>

      <div class="form-group">
        <label for="competitionId">CompetitionID:</label>
        <input type="number" class="form-control" id="competitionId"
               required
               [(ngModel)]="modelMatch.competitionID" name="competitionId"
               #competitionId="ngModel">
        <div [hidden]="competitionId.valid || competitionId.pristine"
             class="alert alert-danger">
          CompetitionID is required!
        </div>
      </div>

      <div class="form-group">
        <label for="attendance">Attendance:</label>
        <input type="number" class="form-control" id="attendance"
               required
               [(ngModel)]="modelMatch.attendance" name="attendance"
               #attendance="ngModel">
        <div [hidden]="attendance.valid || attendance.pristine"
             class="alert alert-danger">
          Attendance is required!
        </div>
      </div>

      <button type="submit" class="btn btn-success"
              [disabled]="!newMatchForm.form.valid">Submit</button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <h3>You are about to add this match:</h3>
    <div class="row">
      <div class="col-xs-3">ClubID1</div>
      <div class="col-xs-9">{{ modelMatch.clubID1 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">ClubID2</div>
      <div class="col-xs-9">{{ modelMatch.clubID2 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Date</div>
      <div class="col-xs-9">{{ modelMatch.date }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Stadium Name</div>
      <div class="col-xs-9">{{ modelMatch.stadiumName }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">CompetitionID</div>
      <div class="col-xs-9">{{ modelMatch.competitionID }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Attendance</div>
      <div class="col-xs-9">{{ modelMatch.attendance }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="saveMatch()">Add</button>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>-->
